body {
    width: 90%;
    max-width: 950px;
    margin-right: auto;
    margin-left: auto;
}

#poly {
    float: left;
    width: 27%;
    padding-left: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
}

header nav {
    font-family: Gill Sans, sans-serif;
    text-align: right;
    width: 69%;
    font-weight: 400;
}

header nav a {
    color: #708090;
}

.Introduction {
    text-align: left;
    padding-top: 10%;
}

header {
    text-align: center;
    display: block;
}

header h1 {
    font-family: Gill Sans, sans-serif;
    color: #708090;
    font-size: 30px;
    font-weight: 700;
    line-height: 25px;
}

header h3 {
    font-family: Gill Sans, sans-serif;
    color: #912f38;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
}

header p {
    font-family: Optima, sans-serif;
    color: #708090;
    font-size: 15px;
    font-weight: 400;
    line-height: 2;
}

.Title {
    font-family: Courier, monospace;
    color: #708090;
    font-size: 20px;
    font-weight: 700;
}

.Content1 {
    font-size: 15px;
    font-weight: 100;
}

.Content1 p {
    color: #708090;
    font-family: Optima, sans-serif;
}

.Content2 {
    font-family: Optima, sans-serif;
    font-size: 15px;
    font-weight: 100;
}

.subTitle {
    font-family: sans-serif;
    color: #333333;
    font-size: 20px;
    font-weight: 700;
}

.aboutmeContent {
    font-family: sans-serif;
    color: #333333;
    font-size: 15px;
    font-weight: 400;
    line-height: 2;
}

.footer1 {
    font-family: Bookman, URW Bookman L, serif;
    font-size: 13px;
    line-height: 18px;
    color: #912f38;
    font-weight: 700;
}

.footer2 {
    font-family: Bookman, URW Bookman L, serif;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
    font-weight: 700;
}

.myPhoto {
    margin-right: 3%;
    float: left;
    clear: both;
}

#bar {
    height: 12px;
    width: 100%;
    clear: both;
    background-color: #C0C0C0;
}